.text-white {
    color: #ffffff;
}
.background-black {
    background-color: rgba(0,0,0,0.55);
    border-radius: 4px;
}
.size28 {
    font-size: 28px;
}
.main-div {
    padding-right: 0px;
    padding-left: 0px;
}