.input-search1 {
    background: url('@routes.Assets.at("images/searchFrom.png")') no-repeat scroll 6px 5px #fff;
    padding-left: 32px;
}
.input-search1 {
    background: url('@routes.Assets.at("images/searchTo.png")') no-repeat scroll 6px 5px #fff;
    padding-left: 32px;
}
.background-body {
    background: #f4f4f4;
}
.background-white {
    background: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    margin-left: -15px;
    margin-right: -15px;
}
.text-white {
    color: #ffffff;
}
.background-black {
    background-color: rgba(0,0,0,0.55);
    border-radius: 4px;
}
.btn-login {
    font-size: 24px;
    padding: 15px;
}
.size32 {
    font-size: 32px;
    font-style: oblique;
}
.background-div {
    background: #eeeeee;
    margin-left: -15px;
    margin-right: -15px;
}
.main-div {
    border: 1px solid #e0e0e0;
    background: #ffffff;
}
.face-btn  {
    display: inline-block;
    height: 36px;
    width: auto;
    line-height: 36px;
    padding: 0 14px 0 44px;
    font-weight: normal;
    color: white;
    text-decoration: none;
    border: 0;
    background-color: #3b5998;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.face-btn:hover,.face-btn:focus{
    color: #ffffff;
    text-decoration:none;
}
.input-email {
    /*background: #fff url() no-repeat 284px 50%;*/
    padding-right: 30px;
    width: 271px;
}
.travel {
    font-size: 32px;
    color: #ff0000;
    padding: 10px;
}
.travel:focus,.travel:hover {
    text-decoration: none;
    color: #ff0000;
}
.footer-div-head {
    background: #337ab7;
    color: #ffffff;
    font-size: 24px;
    padding:5px;
}
.footer-div-body {
    background: #9acfea;
    font-size: 20px;
    padding:5px;
    color: #000000;
}
.footer-div-footer {
    background: #337ab7;
    color: #ffffff;
    font-size: 14px;
    padding:15px;
}
.black-link {
    color: #000000;
    display: block;
}
.black-link:focus,.black-link:hover {
    color: #000000;
}
.login-up {
    position: absolute;
    display: none;
    background: #f9f9f9;
    width: auto;
    padding: 20px;
    z-index: 100;
    border-radius: 5px;
    border: 1px solid #c7ddef;
    margin-top: -10px;
    margin-left: 12px;
}
.offerRide-div {
    right: 100px;
    margin-top: 0px;
    background: #ffffff;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #46b8da;
    z-index: 50;
    width: auto;
}
.border-div {
    border: 1px solid #dfdfcd;
    background: #ffffff;
    padding-left: 10px;
    font-size: 24px;
}
.border-div1 {
    border: 1px solid #dfdfcd;
    background: #f1f1e9;
    padding: 10px;
    font-size: 14px;
}