<div class="container">
    <div class="footer-div-head row">
        <div class="col-xs-4">Using Travel</div>
        <div class="col-xs-4">Our Company</div>
        <div class="col-xs-4">Travel Blog</div>
    </div>
    <div class="row footer-div-body">
        <div class="col-xs-4">
            <a href="#" class="black-link">How It Works</a>
            <a href="#" class="black-link">Trust, Safety & Insurance</a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="black-link">About Us</a>
            <a href="#" class="black-link">Press</a>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="footer-div-footer row">
        <p>Keep in touch</p>
        <span class="background-black h3">&nbsp<span class="fa fa-youtube">&nbsp</span></span>
        <span class="background-black h3">&nbsp<span class="fa fa-twitter">&nbsp</span></span>
        <span class="background-black h3">&nbsp<span class="fa fa-facebook">&nbsp</span></span>
        <span class="background-black h3">&nbsp<span class="fa fa-google-plus">&nbsp</span></span>
        <span class="background-black h3">&nbsp<span class="fa fa-pinterest">&nbsp</span></span>
    </div>

</div>
