@(message: String)
@main(message) {
    @navbar("Home")
    <div class="offerRide-div">
        <p class="text-center">Driving somewhere?</p>
        <a href="@routes.Rides.registr()" class="h2 text-info">Offer a ride</a>
    </div>
    <div class="container" >
        <div class="row" style="background-image: url(@routes.Assets.at("images/road5.jpeg"));background-repeat: no-repeat;">
            <div style="background: rgba(255,255,255,0.5)">
                <h3 class="text-white padding15"> Connecting people who need to travel with drivers who have empty seats</h3>
            </div>
            <form class="form form-inline padding15" method="post" action="@routes.Rides.list()">
                <p class="text-white size32"> Find a ride</p>
                <div class="form-group">
                    <input class="form-control" style="background: url('@routes.Assets.at("images/searchFrom.png")') no-repeat scroll 6px 5px #fff;
                    padding-left: 32px;" name="fromCity" placeholder="From" type="text"/>
                </div>
                <div class="form-group">
                    <input class="form-control" style="background: url('@routes.Assets.at("images/searchTo.png")') no-repeat scroll 6px 5px #fff;
                    padding-left: 32px;" placeholder="To" name="toCity" type="text"/>
                </div>
                <button type="submit" class="btn btn-warning">Find</button>
                @video()
                <br/>
                <br/>
                <br/>
                <br/>
                <h4 class="text-white padding15">Share city-to-city car journeys with a trusted community of 10 million verified members</h4>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="@routes.Assets.at("images/1.jpg")" alt="" class="img-circle img-responsive">
                            </div>
                            <div class="col-md-7 col-sm-8 col-xs-8 text-white background-black">
                                <span class="glyphicon glyphicon-star text-danger"></span>
                                <p>Rating left for Chloe B.</p>
                                "Lovely ride with Chloe. She's friendly, a safe driver, plus she's a local!"
                                <p>James K.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="@routes.Assets.at("images/2.jpg")" alt="" class="img-circle img-responsive">
                            </div>
                            <div class="col-md-7 col-sm-8 col-xs-8 text-white background-black">
                                <span class="glyphicon glyphicon-star text-danger"></span>
                                <p>Rating left for Sarah A.</p>
                                "Trip whizzed by with some great topics of conversation. Thanks, such a pleasure!"
                                <p>Izzy C.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <img src="@routes.Assets.at("images/3.png")" alt="" class="img-circle img-responsive">
                            </div>
                            <div class="col-md-7 col-sm-8 col-xs-8 text-white background-black">
                                <span class="glyphicon glyphicon-star text-danger"></span>
                                <p>Rating left for Alex K.</p>
                                "Driving to Newcastle with Alex was awesome! He was polite, fun and made the whole experience very easy. "
                                <p>Emma T.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="row main-div">
            <div class="col-xs-4 text-center">
                <div class="text-main">
                    <a href="#" class="text-main">Watch How It Works</a>
                </div>
                <img src="@routes.Assets.at("images/photo-video-start-icon.png")" alt="" onclick="changeLoginUp('videoDiv')">
            </div>
            <div class="col-xs-4 text-center">
                <div class="text-main">
                    <a href="#" class="text-main">Best Travel Prices</a>
                </div>
                <div id="bike-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <div class="carousel-inner">
                        <div class="item active">
                            <a href="#" class="text-left">
                                <div class="row  carousel-div">
                                    <div class="col-xs-1">
                                        <img src="@routes.Assets.at("images/FromTo.png")" alt="">
                                    </div>
                                    <div class="col-xs-6">
                                        <p>London</p>
                                        <p>Manchester</p>
                                    </div>
                                    <div class="col-xs-5">
                                        <p>Prices from</p>
                                        <p>$14</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item ">
                            <a href="#" class="text-left">
                                <div class="row  carousel-div">
                                    <div class="col-xs-1">
                                        <img src="@routes.Assets.at("images/FromTo.png")" alt="">
                                    </div>
                                    <div class="col-xs-6">
                                        <p>London</p>
                                        <p>Newcastle</p>
                                    </div>
                                    <div class="col-xs-5">
                                        <p>Prices from</p>
                                        <p>$20</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item ">
                            <a href="#" class="text-left">
                                <div class="row  carousel-div">
                                    <div class="col-xs-1">
                                        <img src="@routes.Assets.at("images/FromTo.png")" alt="">
                                    </div>
                                    <div class="col-xs-6">
                                        <p>Bristol</p>
                                        <p>London</p>
                                    </div>
                                    <div class="col-xs-5">
                                        <p>Prices from</p>
                                        <p>$14</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="text-main">
                    <a href="#" class="text-main">Download the App</a>
                    <img src="@routes.Assets.at("images/road3.jpg")" alt=""/>
                </div>
            </div>
            <div class="col-xs-12 text-center text-main">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Discover our most popular car share departures: London, Manchester, Nottingham...
                </a>
                <div class="dropdown-menu">
                    <div class="row padding15">
                        <div class="col-xs-12 text-center text-main">Our 21 most popular car share departures</div>
                        <div class="col-xs-4">
                            <a href="#" class="btn-block">Car share from London</a>
                            <a href="#" class="btn-block">Car share from Birmingham</a>
                            <a href="#" class="btn-block">Car share from Bristol</a>
                            <a href="#" class="btn-block">Car share from Manchester</a>
                            <a href="#" class="btn-block">Car share from Leeds</a>
                            <a href="#" class="btn-block">Car share from Reading</a>
                            <a href="#" class="btn-block">Car share from Nottingham</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="btn-block">Car share from London</a>
                            <a href="#" class="btn-block">Car share from Birmingham</a>
                            <a href="#" class="btn-block">Car share from Bristol</a>
                            <a href="#" class="btn-block">Car share from Manchester</a>
                            <a href="#" class="btn-block">Car share from Leeds</a>
                            <a href="#" class="btn-block">Car share from Reading</a>
                            <a href="#" class="btn-block">Car share from Nottingham</a>
                        </div>
                        <div class="col-xs-4">
                            <a href="#" class="btn-block">Car share from London</a>
                            <a href="#" class="btn-block">Car share from Birmingham</a>
                            <a href="#" class="btn-block">Car share from Bristol</a>
                            <a href="#" class="btn-block">Car share from Manchester</a>
                            <a href="#" class="btn-block">Car share from Leeds</a>
                            <a href="#" class="btn-block">Car share from Reading</a>
                            <a href="#" class="btn-block">Car share from Nottingham</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @footer()
}
