@()
@main("Sign up for free and join our 1 million member community | sayohat.heroku.com") {
    @navbar("Sign up")
    <div class="container background-white main-border">
        <div class="text-right main-background row border-bottm">
            <p class="btn-login">
                Already a member?
                <a href="#" onclick="changeLoginUp('loginUpBtn')" onmouseout="helper1(loginUpBtn)" class="btn btn-primary">
                    Log in
                </a>
            </p>
        </div>
        <div style="margin-left: 75%" >
        @login("loginUpBtn")
        </div>
        <div class="row">
            @video()
            <div class="col-xs-8 text-center">
                <p class="h3 text-center">Not yet a member? Sign up for free</p>
                <form action="@routes.Users.add()" method="post">
                    <div class="main-background main-border">
                        <p class="h4">In just <span class="text-success">2 seconds</span></p>
                        <a href="#" class="face-btn" style="background: #3b5998 url(@routes.Assets.at("images/fa1.png")) 5px center no-repeat"> Connect in Facebook</a>
                        <p class="h5">We don't publish on your wall without your consent.</p>
                        <br/>
                        <p>_________________________________ or ______________________________</p>
                        <br/>
                        <p class="h4">In just <span class="text-success">30 seconds</span></p>
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-3">
                                <div class="form-group">
                                    <select  name="gender" required="required" class="form-control small">
                                        <option value="" selected="selected">Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Fermale">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="lastName" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="eMail" placeholder="Email Name">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password1" placeholder="Password confirmation">
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <select class="form-control"  name="birthYear" required="required" class="register-gender select-register default">
                                        <option value="" selected="selected">Birth year</option>
                                        @for(year <- 1997 to 1915 by -1){
                                        <option value="@year">@year</option>
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group text-left">
                                    <input  type="checkbox" id="newsletter_flag1"  name="newsletterFlag" required="required">
                                    <label for="newsletter_flag1" style="display: inline">
                                        Receive updates on new features, or useful information for you
                                    </label>
                                    <p class="h6">By clicking on "Get started now" or “Connect with Facebook” you accept our <a href="#">ToS</a> and certify you are over 18 years old.</p>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><span class="h3">Get started now</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-4 text-center">
                <div class="text-main">
                    <a href="#" class="text-main">Watch How It Works</a>
                </div>
                <img src="@routes.Assets.at("images/photo-video-start-icon.png")" alt="" onclick="changeLoginUp('videoDiv')">
            </div>
        </div>
    </div>
    @footer()
}